# Solana Network Configuration
# Options: devnet, testnet, mainnet-beta
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Optional: Custom RPC
HELIUS_API_KEY=
# - Alchemy (https://www.alchemy.com/)
# - QuickNode (https://www.quicknode.com/)
# - Helius (https://www.helius.dev/)

# Leave empty to use default Solana RPC endpoints
NEXT_PUBLIC_SOLANA_RPC_URL=

# Service Fee Wallet Address
NEXT_PUBLIC_SERVICE_FEE_WALLET=

NEXT_PUBLIC_JUPITER_REFERRAL_ACCOUNT=paste_your_ultra_account_code_here

# Optional - fee percentage (default is 1 which equals 1%)
NEXT_PUBLIC_JUPITER_REFERRAL_FEE=1

NEXT_PUBLIC_JUPITER_BRANDING_LOGO=/logo_in_public_directory

NEXT_PUBLIC_JUPITER_BRANDING_NAME=name